<div class="container">
  <p>
    <h1>User Sign In</h2>
    <form action='/' method="post">
      Email:    <input type="text" name="[user]email"><br><br>
      Password: <input type="password" name="[user]password">
    <input type="submit" value="Log In">
    </form>
  </p>
  <br>
  <br>
  <p>
    <a href="/new">Create a new user</a>
  </p>
</div>


