<div class="container">
  <p>
    <h1>User Sign Up</h2>
    <form action='/new' method="post">
      Name:     <input type="text" name="[user]name"><br><br>
      Email:    <input type="text" name="[user]email"><br><br>
      Password: <input type="password" name="[user]password">
      <input type="submit" value="Create">
    </form>
  </p>
  <br>
  <br>
  <p>
    <a href="/">Home</a>
  </p>
</div>



